<div id="<%= dom_id post %>" class="container" style="border: 2px solid blue; padding: 10px; margin: 10px;">
  <p>
    <strong>Título:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Conteúdo:</strong>
    <%= post.content %>
  </p>
  <p>
    <strong>User_ID:</strong>
    <%= post.user_id %>
  </p>

</div>
